.DS_Store
.git
.idea/
.git/
*.map
*.html

dist/*.html

test
npm-debug.log
.DS_Store
node_modules/
examples/
packages/
public/
src/
simple-server/

.eslintrc.js
.gitignore
.npmignore
.prettierrc.js
babel.config.js
jsconfig.json
package-lock.json
vue.config.js