@font-face {
  font-family: 'jsmpeg'; /* Project id 2580924 */
  src: url('iconfont.woff2?t=1658845087369') format('woff2'),
    url('iconfont.woff?t=1658845087369') format('woff'),
    url('iconfont.ttf?t=1658845087369') format('truetype');
}

.jsmpeg {
  font-family: 'jsmpeg' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recording:before {
  content: '\e663';
}

.icon-rotate-right:before {
  content: '\e698';
}

.icon-rotate-left:before {
  content: '\e699';
}

.icon-stop:before {
  content: '\e611';
}

.icon-exitfullscreen:before {
  content: '\e65d';
}

.icon-fullscreen:before {
  content: '\e65e';
}

.icon-muted:before {
  content: '\e62d';
}

.icon-volume:before {
  content: '\e62e';
}
