.v-drag {
  transition: 0.46s box-shadow, 0.46s border-color;
}
/* .v-drag.is-dragenter::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 2000;
} */

.v-drag.is-dragenter {
  cursor: copy !important;
  box-shadow: 0 0 12px #40a0ffb9 inset !important;
  border-color: #40a0ffb9 !important;
}

.v-drag.is-dragleave {
  cursor: copy !important;
  box-shadow: 0 0 12px #40a0ffb9 !important;
  border-color: #40a0ffb9 !important;
}

/* .v-drag-.is-dragleave {
  cursor: copy !important;
  box-shadow: 0 0 12px #40a0ffb9 inset !important;
  border-color: #40a0ffb9 !important;
} */
